<div class="content">
  <div class="category">
    <h1>Categories</h1>
    <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let category of categories | async" [value]="category.title"
                         [routerLink]="[category._id]"
        >
          {{ category.title }}
        </mat-list-option>
    </mat-selection-list>
  </div>
  <div>
    <h1>Products</h1>
    <div fxLayout="row" class="products">
      <mat-card *ngFor="let product of products | async" style="margin: 10px">
        <mat-card-title-group>
          <mat-card-title>{{ product.title }}</mat-card-title>
          <mat-card-subtitle>Price: <strong>{{ product.price }}</strong></mat-card-subtitle>
        </mat-card-title-group>
        <img
          *ngIf="product?.image"
          mat-card-xl-image
          [src]="apiUrl + '/uploads/' + product.image"
          alt="{{ product.title }}"
        >
        <button mat-button [routerLink]="[product.id, 'product']">View</button>
      </mat-card>
    </div>
  </div>
</div>


